.block {
  background-color: transparent;
  border: 1px solid black;
}

.block.cursor-pointer:hover {
  cursor: pointer;
}

.block.hit {
  background-color: red;
}

.block.miss {
  background-color: black;
}
