.board {
  width: min-content;
  border: 1px solid black;
  margin: 0 auto;
}

.board__column {
  display: flex;
}

.board__row {
  --size: 30px;

  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  border: 1px solid black;
}
