.board.show-ships .ship {
  background: darkGreen;
}

.board__body {
  --size: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: var(--size);
  height: var(--size);
  border: 1px solid black;
}
