.btn {
  font: inherit;
  background: transparent;
  padding: 0.75em 1.5em;
  border: 1px solid hsla(var(--clr-neutral-900));
  border-radius: 0.25rem;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(97%);
}

.btn--restart-outline {
  color: hsla(var(--clr-accent-400));
  border-color: hsla(var(--clr-accent-400));
}

.btn--restart-fill {
  font-weight: 700;
  color: hsla(var(--clr-neutral-100));
  background-color: hsla(var(--clr-accent-400));
  border: 2px solid hsla(var(--clr-neutral-100));
}
