.btn {
  font: inherit;
  background: transparent;
  padding: 0.75em 1.5em;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(97%);
}

.btn--restart-outline {
  color: red;
  border-color: red;
}

.btn--restart-fill {
  font-weight: 700;
  color: white;
  background-color: red;
  border: 2px solid white;
}
