.game {
  display: grid;
  grid-row-gap: 1rem;
}

.game__player-turn {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.game__boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.game__btns-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 60%; /* aligns with the boards */
  padding: 0 1em;
  margin: 0 auto;
}

.game__btns-wrapper > .btn--restart-outline {
  margin: 0 auto;
  margin-top: 1rem;
}
